.wrapper {
  background-color: #0d460c;
  padding: 14px;
  border-radius: 8px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
  color: #f0f78e;
}

.form {
  display: flex;
  gap: 10px;
}

.input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #f0f78e;
}

.button {
  background-color: transparent;
  border: 1px solid #f0f78e;
  padding: 8px 12px;
  color: #f0f78e;
  cursor: pointer;
  border-radius: 4px;
}
.button:hover {
  background-color: #f0f78e;
  border: 1px solid #0d460c;
  padding: 8px 12px;
  color: #0d460c;
  cursor: pointer;
  border-radius: 4px;
}
