.list {
  display: flex;
  width: max-content;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
}

.button {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: 1px solid #84be83;
  padding: 10px;
  color: #252525;
  cursor: pointer;
}

.item:nth-child(1) {
  button {
    border-radius: 4px 0 0 4px;
  }
}
.item:nth-child(2) {
  .button {
    border-left: transparent;
    border-right: transparent;
  }
}

.item:nth-child(3) {
  .button {
    border-radius: 0 4px 4px 0;
  }
}

.active {
  /* color: #f0f78e; */
  background-color: #f0f78e;
}
